In [1]:
import pandas as pd
import json
import sys

In [2]:
# question 1 part 1
# read the csv file and save it in dataframe

data1=pd.read_csv("district_level_service_msme.csv")
print(data1)

         STATE_NAME  Lg_Dist_Code         DISTRICT_NAME  MICRO  SMALL  MEDIUM  \
0    ANDHRA PRADESH           502            ANANTHAPUR   7797    238      10
1    ANDHRA PRADESH           503               CHITOOR   9623    351      19
2    ANDHRA PRADESH           505         EAST GODAVARI  12347    615      49
3    ANDHRA PRADESH           506                GUNTUR  11386    630      53
4    ANDHRA PRADESH           510               KRISHNA  15189   1007      79
..              ...           ...                   ...    ...    ...     ...
733     LAKSHADWEEP           553  LAKSHADWEEP DISTRICT    114      0       0
734      PUDUCHERRY           598              KARAIKAL    989     47       1
735      PUDUCHERRY           599                  MAHE     71     11       0
736      PUDUCHERRY           600           PONDICHERRY   5577    202      21
737      PUDUCHERRY           601                 YANAM     65      6       0

     Total Last_Updated
0     8045   2022-01-11
1     9993   2022-01-11
2    13011   2022-01-11
3    12069   2022-01-11
4    16275   2022-01-11
..     ...          ...
733    114   2022-01-11
734   1037   2022-01-11
735     82   2022-01-11
736   5800   2022-01-11
737     71   2022-01-11

[738 rows x 8 columns]

In [3]:
# question 1 part 2
# read the json file and save it in dataframe

f=open("district_level_manufacturing_msme.json")
df=json.load(f)
# print(df)

column=pd.DataFrame(df['fields'])['label'].tolist()
#print(column)

data2=pd.DataFrame(df['data'],columns=column)
print(data2)

         STATE_NAME Lg_Dist_Code         DISTRICT_NAME  MICRO SMALL MEDIUM  \
0    ANDHRA PRADESH          502            ANANTHAPUR  11370   483     33
1    ANDHRA PRADESH          503               CHITOOR  13037   592     51
2    ANDHRA PRADESH          505         EAST GODAVARI  16711  1044    123
3    ANDHRA PRADESH          506                GUNTUR  15955  1678    169
4    ANDHRA PRADESH          510               KRISHNA  20460  1673    165
..              ...          ...                   ...    ...   ...    ...
732          LADAKH            9            LEH LADAKH   1493    35      0
733     LAKSHADWEEP          553  LAKSHADWEEP DISTRICT    150     0      0
734      PUDUCHERRY          598              KARAIKAL   1248    56      2
735      PUDUCHERRY          599                  MAHE     95    17      0
736      PUDUCHERRY          600           PONDICHERRY   7698   413     50

     Total Last_Updated
0    11886   2022-01-11
1    13680   2022-01-11
2    17878   2022-01-11
3    17802   2022-01-11
4    22298   2022-01-11
..     ...          ...
732   1528   2022-01-11
733    150   2022-01-11
734   1306   2022-01-11
735    112   2022-01-11
736   8161   2022-01-11

[737 rows x 8 columns]

In [4]:
# question 2
# total "Small" Manufacturing MSME in india

# first find the state wise total "Small" Manufacturing MSME
result=data2.groupby("STATE_NAME").count()["SMALL"]  
# print(result)

# sum the state wise "Small" Manufacturing MSME to get total "Small" Manufacturing MSME in india
print(result.sum())

737

In [5]:
# question 3 
# state wise total number of "Micro","Small" and "Medium" Services MSE

result2=data1.groupby("STATE_NAME").sum()
print(result2[["MICRO","SMALL","MEDIUM"]])    # using double square brackets we can select multiple columns from DataFrame

result2[["MICRO","SMALL","MEDIUM"]].to_csv("question3.csv") # save into csv file

                              MICRO  SMALL  MEDIUM
STATE_NAME
ANDAMAN AND NICOBAR ISLANDS    2884    111       6
ANDHRA PRADESH               115320   5799     422
ARUNACHAL PRADESH              1201     53       6
ASSAM                         41051   2182     200
BIHAR                        167835   3908     245
CHANDIGARH                     9010    687      76
CHHATTISGARH                  58905   2726     257
DADAR AND NAGAR HAVELI         2511     98       3
DAMAN AND DIU                   892     35       2
DELHI                        106599  10080    1399
GOA                            8963    428      40
GUJARAT                      283123  12067    1164
HARYANA                      147956   7231     582
HIMACHAL PRADESH              21730    613      26
JAMMU AND KASHMIR             47434   1145      62
JHARKHAND                     74753   2357     170
KARNATAKA                    248728  10468     987
KERALA                        98110   5305     397
LADAKH                         1652     32       0
LAKSHADWEEP                     114      0       0
MADHYA PRADESH               194520   6634     397
MAHARASHTRA                  962520  25367    2797
MANIPUR                       10051    175       9
MEGHALAYA                      1286     89      11
MIZORAM                        2002     52       8
NAGALAND                       1757     23       2
ODISHA                        87502   3798     281
PUDUCHERRY                     6702    266      22
PUNJAB                       141714   5021     337
RAJASTHAN                    328406   8952     616
SIKKIM                         1073     39       8
TAMIL NADU                   431053  13954    1050
TELANGANA                    150812   6783     713
TRIPURA                        3556    163       9
UTTAR PRADESH                326045  11567     914
UTTARAKHAND                   39722   1237      79
WEST BENGAL                  111856   7657     772

In [6]:
# question 4
# Join the both the data frame based on common STATE NAME, DISTRICT NAME, Lg Dist Code and Last Updated.

#print(data1.dtypes)
#print(data2.dtypes)

# As we have different data type for column "Lg_Dist_Code" in dataframe we need to convert in same data type to merge
data2["Lg_Dist_Code"] = data2["Lg_Dist_Code"].astype(int)  # change type to "int"

#print(data1.dtypes)
#print(data2.dtypes)

# now we can merge 
result4=pd.merge(data2,data1,left_on=["STATE_NAME","Lg_Dist_Code","DISTRICT_NAME","Last_Updated"], right_on=["STATE_NAME","Lg_Dist_Code","DISTRICT_NAME","Last_Updated"])
print(result4)

         STATE_NAME  Lg_Dist_Code         DISTRICT_NAME MICRO_x SMALL_x  \
0    ANDHRA PRADESH           502            ANANTHAPUR   11370     483
1    ANDHRA PRADESH           503               CHITOOR   13037     592
2    ANDHRA PRADESH           505         EAST GODAVARI   16711    1044
3    ANDHRA PRADESH           506                GUNTUR   15955    1678
4    ANDHRA PRADESH           510               KRISHNA   20460    1673
..              ...           ...                   ...     ...     ...
732          LADAKH             9            LEH LADAKH    1493      35
733     LAKSHADWEEP           553  LAKSHADWEEP DISTRICT     150       0
734      PUDUCHERRY           598              KARAIKAL    1248      56
735      PUDUCHERRY           599                  MAHE      95      17
736      PUDUCHERRY           600           PONDICHERRY    7698     413

    MEDIUM_x Total_x Last_Updated  MICRO_y  SMALL_y  MEDIUM_y  Total_y
0         33   11886   2022-01-11     7797      238        10     8045
1         51   13680   2022-01-11     9623      351        19     9993
2        123   17878   2022-01-11    12347      615        49    13011
3        169   17802   2022-01-11    11386      630        53    12069
4        165   22298   2022-01-11    15189     1007        79    16275
..       ...     ...          ...      ...      ...       ...      ...
732        0    1528   2022-01-11     1099       23         0     1122
733        0     150   2022-01-11      114        0         0      114
734        2    1306   2022-01-11      989       47         1     1037
735        0     112   2022-01-11       71       11         0       82
736       50    8161   2022-01-11     5577      202        21     5800

[737 rows x 12 columns]

In [7]:
# question 5
# Create a Pivot Table having rows STATE NAME and columns Service and Manufacturing "MSME" as show in below. 
# Use "Sum" to add up district wise number.

# print(result4.dtypes)
# we need data type of columns "MICRO_x", "SMALL_x", "MEDIUM_x" to be "int" to use "Sum" function.
result4["MICRO_x"]=result4["MICRO_x"].astype("int")   #conver to int
result4["SMALL_x"]=result4["SMALL_x"].astype("int")   #conver to int
result4["MEDIUM_x"]=result4["MEDIUM_x"].astype("int") #conver to int

# make pivot table
result4.pivot_table(["MEDIUM_y","MEDIUM_x","MICRO_x","MICRO_y","SMALL_x","SMALL_y"],index="STATE_NAME",aggfunc='sum')

,MEDIUM_x,MEDIUM_y,MICRO_x,MICRO_y,SMALL_x,SMALL_y
STATE_NAME,,,,,,
ANDAMAN AND NICOBAR ISLANDS,7,6,3905,2884,140,111
ANDHRA PRADESH,1030,422,153814,115320,10599,5799
ARUNACHAL PRADESH,11,6,2172,1201,99,53
ASSAM,309,200,65544,41051,3345,2182
BIHAR,413,245,247394,167835,5226,3908
CHANDIGARH,134,76,11435,9010,1007,687
CHHATTISGARH,566,257,74058,58905,4580,2726
DADAR AND NAGAR HAVELI,82,3,3730,2511,419,98
DAMAN AND DIU,56,2,1626,892,295,35
DELHI,2594,1399,166761,106599,19400,10080
GOA,91,40,11556,8963,713,428
GUJARAT,4168,1164,496564,283123,38098,12067
HARYANA,1696,582,213404,147956,16387,7231
HIMACHAL PRADESH,238,26,28509,21730,1559,613
JAMMU AND KASHMIR,148,62,73438,47434,1854,1145
JHARKHAND,308,170,97726,74753,3492,2357
KARNATAKA,2106,987,350026,248728,18996,10468
KERALA,785,397,147692,98110,8856,5305
LADAKH,0,0,2340,1652,49,32
LAKSHADWEEP,0,0,150,114,0,0
MADHYA PRADESH,1045,397,264197,194520,12190,6634
MAHARASHTRA,6377,2797,1305092,962520,49991,25367
MANIPUR,10,9,21076,10051,247,175
MEGHALAYA,21,11,1828,1286,147,89
MIZORAM,8,8,2942,2002,74,52
NAGALAND,4,2,2875,1757,53,23
ODISHA,463,281,116968,87502,5412,3798
PUDUCHERRY,52,22,9041,6637,486,260
PUNJAB,1269,337,212134,141714,12334,5021
RAJASTHAN,1672,616,501175,328406,19456,8952
SIKKIM,8,8,1382,1073,56,39
TAMIL NADU,2879,1050,668147,431053,30634,13954
TELANGANA,1649,713,199030,150812,12540,6783
TRIPURA,17,9,6103,3556,252,163
UTTAR PRADESH,2112,914,486415,326045,21530,11567
UTTARAKHAND,283,79,54666,39722,2618,1237
WEST BENGAL,1631,772,167593,111856,14088,7657